
  <header>
    <div class="navbar">

      <div class="yamm">
        <div style="padding-top: 30px; padding-bottom: 30px; -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 10px 10px; box-shadow: rgba(0, 0, 0, 0) 0px 10px 10px;">

          <div class="container">

            <a class="navbar-brand" href="#">
              Angular-Notys
            </a>

            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a ng-href="#/" class="dropdown-toggle js-activated">Documentation</a>

              </li><!-- /.dropdown -->


            </ul><!-- /.nav -->

          </div><!-- /.container -->
        </div>
      </div><!-- /.yamm -->
    </div><!-- /.navbar -->
  </header>
